extends layout

block content

    .container
        form(method='post', action='contact/send') 
            h1 Contact Us
            p Please enter your details for us to reach you
            .form-group
                label Address
                input.form-control(type='email', name='name' placeholder='Email')
            .form-group
                label Phone 
                input.form-control(type='text', name='phone'  placeholder='Phone')
            .form-group
                label Message 
                textarea.form-control(type='text', name='message'  placeholder='Phone')
                
            button.btn.btn-default(type='submit') Submit
