extends layout

block content
    .jumbotron
        .container
            h1 How are you ?
            p same text same text
            a.btn.btn-primary.btn-lg(href='#') Learn more  &raquo;
    .container
        .row
            .col-md-4
                h2 About us
                p saple textsaple textsaple textsaple textsaple textsaple textsaple text
                a.btn.btn-default(href='#') View details
            .col-md-4
                h2 Services
                p saple textsaple textsaple textsaple textsaple textsaple textsaple text
                a.btn.btn-default(href='#') Services            
            .col-md-4
                h2 Services
                p saple textsaple textsaple textsaple textsaple textsaple text
                a.btn.btn-default(href='#') Services
